.faq-section {
  text-align: center;
  margin-top: 30px;
}

.faq-text {
  color: white;
}

.faq-container {
  max-width: 95%;
  margin: 0 auto;
}

.faq-item {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.faq-question {
  padding: 15px;
  background-color: #f0f0f0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question:hover {
  background-color: #e0e0e0;
}

.faq-answer {
  padding: 15px;
  background-color: #fff;
}

.faq-question::after {
  content: '+';
  font-size: 20px;
  transition: transform 0.3s ease-in-out;
}

.faq-question.expanded::after {
  content: '−';
  transform: rotate(90deg);
}
