.faq-section {
  max-width: 95%;
  margin: 0 auto;
}

.accordion-summary {
  background-color: #fff;
  color: #000;
  border-radius: 50%;
 
}

.accordion-details {
  background-color: #fff;
  color: #000;
}

.accordion-text {
  color: #000;
}