.messenger {
  height: calc(90vh - 70px);
  display: flex;
}

.chatMenu {
  flex: 3.5;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}

.chatBox {
  flex: 5.5;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: unset;
}

.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 15px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f4f4f4;
  font-size: 16px;
  color: #333;
  resize: none; /* Empêcher le redimensionnement */
}


.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #0d6efd;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-left: 10px; /* Espacement depuis l'input */
}

.chatSubmitButton:hover {
  background-color: #0056b3; 
}


.chatOnline {
  flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 90%;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}

.publicationDetails {
  position: absolute;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.publicationDetails:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.publicationDetails h4 {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.publicationDetails p {
  margin: 0;
  font-size: 12px;
  color: #666;
}


@media screen and (max-width: 768px) {
  .chatMenu {
    flex: 1;
  }

  .chatMenuInput {
    display: none;
  }

  .chatBox{
    flex: 10;
  }

  .chatOnline{
    flex: 1px;
  }
}