.about-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: white;
  }
  
  p {
    font-size: 16px;
    color: white;
  }

.search-bar {
    margin-top: 1%;
  }
  
  .search-bar input {
    width: 30%;
    font-size: 16px;
  }
  
.card-library {
    display: flex;
    padding: 1%; /* Espacement autour de la bibliothèque de cartes */
    margin: 0 auto;
  }