.all-content {
  /* border: solid 3px orange  */
  font-family: 'Nunito', sans-serif;
}

.home-container {
  display: flex;
  align-items: center; /* Centre verticalement les éléments enfants */
}

.animation-container {
  flex: 1; /* Fait en sorte que l'animation prenne tout l'espace disponible */
  max-width: 500px; /* Définissez la largeur maximale souhaitée */
  margin: 0 auto; /* Centre l'animation horizontalement */
}

.about-container {
  flex: 1; /* Fait en sorte que le conteneur de texte prenne tout l'espace disponible */
  padding: 20px; /* Ajoute une marge intérieure pour l'espace entre le texte et l'animation */
}

/* Ajoutez des styles supplémentaires au besoin */

  
  h1 {
    color: white;
  }
  
  p {
    font-size: 0,1em;
    color: white;
  }

.search-bar {
    margin-top: 1%;
  }
  
  .search-bar input {
    width: 30%;
    font-size: 16px;
  }
  
.card-library {
    display: flex;
    padding: 1%; /* Espacement autour de la bibliothèque de cartes */
    margin: 0 auto;
  }