

.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: white;
  }
  
  p {
    font-size: 16px;
    line-height: 1.6;
    color: white;
    margin-bottom: 15px;
  }

.search-bar {
    margin-top: 3%;
  }
  
  .search-bar input {
    width: 50%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  

  .card-library {
    display: flex;
    padding: 1%; /* Espacement autour de la bibliothèque de cartes */
    margin-top: 3%;
  }