/* Footer.css */
.footer {
    background-color: white;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0; 
    width: 100%; 
  }
  
  .footer-content {
    max-width: 80%;
    margin: 0 auto;
    color: black;
  }
  
  .footer p {
    margin: 10px 0;
  }
  