/* Footer.css */
body {
  display: grid;
  grid-template-rows: 1fr auto; /* La première ligne prend tout l'espace disponible, la deuxième est la hauteur du footer */
  min-height: 100vh; /* 100% de la hauteur de la fenêtre */
  margin: 0;
}

.main-content {
  /* Styles spécifiques à votre contenu, si nécessaire */
}

.footer {
  background-color: white;
  color: black;
  padding: 15px;
  text-align: center;
  width: 100%;
}
